.DS_Store
*.log
tradingHolidays.csv
*.pyc
/blankNifty500Tables
dasConfig_cust.json
/lookupTables
dasConfig_template.json
backupJobTweak.txt
/backupFailedTables
backupMonotir.jpg
cleanDBRows.py
Logs/backupLogAnalyzer.py
/Logs
/zerodhaInstrumentDumps

# Zerodha Data Collector files
/instrument_lookup_tables/
/equity_universe_lookup.csv
/broker_instrument_dump.csv
/broker_instrument_dumps/
/blank_equity_universe_tables/
/backup_failed_tables/
market_data_main.log
market_data_ticker.log
broker_access_token_logs_*.log
market_data_holiday_check_logs_*.log
market_data_mailer_logs_*.log
market_data_attachment_mailer_logs_*.log
lookup_table_creator_logs_*.log
instruments_subscribed_*.log
daily_market_data_backup_logs_*.log
system_config_validation_logs_*.log
system_errors_*.log
manual_access_token_logs_*.log
system_startup_notify_logs_*.log
trading_holiday_shutdown_logs_*.log
broker_instrument_snapshot_logs_*.log
